h1 {
  color: #800080;
  padding: 1rem;
}

h2 {
  color: #3B3E23;
}

h3 {
  color: #8f2400;
}

p {
  color: #4A4A4A;
}
p::first-letter {font-size:200%}
body {
  background-color: papayawhip;
}
a:hover {
  color: rgb(102, 0, 102);
  font-size: 3em;
  text-decoration: underline;
}

a {
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 2s;
}

img {
  padding: 1rem;
  border-style: solid;
  border-color: #613F00;
  border-width: 3px;
  width:12%;
}

nav{
  align-items: center;
  padding: 2rem;
  background-color: #d8bfd8;
}
nav a {
  padding: 1rem;
  margin: 1rem;
}
.hidden{
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.box{
  padding: 4rem;
  margin: 2rem;
  border: 5px solid black;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  font-family: 'Roboto Slab', serif;
}
footer{
  font-family: 'Slabo 27px', serif;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
    width: 90%;
    background-color: rgb(196, 165, 232);
}
input[type=password]:focus{
    background-color: seagreen;
    outline: none;
}
input[type=number]:focus{
  background-color: aquamarine;
  outline: none;
}
input[type=text]:focus{
  background-color: cadetblue;
  outline: none;
}
input[type=email]:focus{
  background-color: darkolivegreen;
  outline: none;
}
input {
    border-radius: 15px;
}
